#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
}


#nav-bar img {
  height: inherit;
  width: 80px;
  float: left;
}

.header {
  padding-left: 10px;
  font-size: 2em;
  line-height: 80px;
}

.right-nav button {
  float: right;
  border-radius: 10px;
  border-color: black;
  margin-top: 1em;
  height: 3em;
  background-color: #B3F0E6;
  color: #00a087;
}

.right-nav button:hover {
  background-color: #FFFFFF;
  color: black;
}
