#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
}


#nav-bar img {
  height: inherit;
  width: 80px;
  float: left;
}

#nav-bar span {
  padding-left: 10px;
  font-size: 2em;
  line-height: 80px;
}
