.tweet {
  margin: 2em;
  border-radius: 15px;
  border: 1px solid;
  border-color: #b6b8ba;
  overflow: hidden;
}

article.tweet header {
  margin-bottom: 10px;
  padding-bottom: .5em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #eee;
  overflow: hidden;
  opacity: 0.5;
}

article.tweet header img {
  width: 30px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

article.tweet header h2 {
  float: left;
  margin: 0 0 0 0.5em;
  line-height: 40px;
}

article.tweet header p {
  float: right;
  margin: 0 .5em 0 0;
  line-height: 40px;
}

article.tweet > span {
  float: left;
  padding-left: 0.5em;
  margin-top: 1em;
}

article.tweet footer {
  width: 100%;
  float: left;
  border-top: 1px solid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 2.5em;
}

article.tweet footer div {
  float: right;
  margin-top: 1em;
  margin-right: .5em;
  display: none;
}

article.tweet footer .age {
  margin: 1em 0em .5em 0em;
  padding-left: .5em;
  display: inline-block;
}

.tweet:hover header {
  border-color: red;
  opacity: 1;
}

.tweet:hover footer div {
  display: inline;
}
